.formulario_login {
	background-color: rgba(251,251,251,0.8);
    margin: 3% auto 0.5em auto;
    border: 0.1em solid #888;
    width: 50%;
}

.container {
    padding: 1.4em;
}

h1{
	text-align: center;
}

input[type=text], 
input[type=password]  {
    width: 100%;
    padding: 1em 1.2em;
    margin: 0.5em 0;
    display: inline-block;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
}

#iniciarSesion {
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.2em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 3px 3px 6px #999;
}

.botones{
	text-align: center;
}

@media screen and (max-width: 500px) {
    .formulario_login {
       width: 90%;
    }
}