.formulario_login {
    background-color: rgba(251, 251, 251, 0.8);
    margin: 1em auto 0.5em auto;
    width: 50%;
    border: 0.1em solid #ecf0f1;
    box-shadow: 0 0.3em 0.5em 0 rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin: 0.2em 0.5em;
}

strong {
    font-size: 1em;
}

.container {
    padding: 1.4em;
}

h2 {
	text-align: center;
}

input[type=text], 
input[type=password]  {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    box-sizing: border-box;
    margin: 0.5em 0.5em 0.5em 0;
}

input[type=text]:focus, 
input[type=password]:focus {
    border: 0.2em solid #3498db;
}

#iniciarSesion {
    color: white;
    padding: 1em 0.2em;
    margin: 0.8em 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-top: 0.5em 1em;
    box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.3);
    background-color: #4CAF50;
}

.botones{
	text-align: center;
}

@media screen and (max-width: 500px) {
    .formulario_login {
       width: 95%;
    }
}