#mi_info, #mis_perros {
	text-align: center;
}

#mi_info {
    padding: 0;
}

#mi_perfil {
    background-color: rgba(251, 251, 251, 0.8);
    margin: 1em auto 0.5em auto;
    width: 75%;
    border: 0.1em solid #ecf0f1;
    box-shadow: 0 0.3em 0.5em 0 rgba(0, 0, 0, 0.2);
}

#mi_info > h2 {
    margin: 0.1em auto;
}

h2 {
    text-align: center;
    margin: 1em auto;
    padding: 0.5em;
    background-color: #333;
    margin-top: 0;
    color: white;
}

strong {
    font-size: 1em;
}

button.accordion {
    background-color: #e74c3c;
    cursor: pointer;
    padding: 1.2em;
    width: 100%;
    color: white;
}

button.accordion.active, button.accordion:hover {
    background-color: #FF4136;
}

div.panel {
    padding: 0 1.2em;
    background-color: white;
    display: none;
}

.lista_perros {
    text-align: center;
}

.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2.5%; 
    margin-bottom: 1%;
    padding-bottom: 1%; 
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
}

.foto_perro {
    border-radius: 0.6em 0.6em 0 0;
    height: 150px;
    /*min-height: 150px;*/
    /*min-width: 150px;*/
}

.container {
    padding: 0.1em 1.2em;
}

h5{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

@media screen and (max-width: 900px) and (min-width: 701px) {
    .foto_perro{
        height: 150px;
    }
    .card{
        width: 30%;
    }
} 

@media screen and (max-width: 700px) and (min-width: 300px) {
    .foto_perro{
        height: 80px;
    }
    .card{
        width: 30%;
    }
}

.danger {
    background-color: #ffdddd;
    border-left: 0.5em solid #f44336;
    border-right: 0.5em solid #f44336;
    margin: 0.5em auto;
    padding: 1em 1.5em;
}