/*----------------------------------- BOTONERA VERDE Y ROJA -------------------------------------------*/
.dosOpciones {
    margin-left: 33%;
}

.dosOpciones a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 2em;
    text-decoration: none;
    font-size: 1.1em;
    width: 25%;
    box-sizing: border-box; 
    margin-top: 1em;
}

#verde {
    background-color: #007E33;
}

#rojo {
    background-color: #CC0000;
}

#verde:hover {
    background-color: #00C851;
}

#rojo:hover {
    background-color: #ff4444;
}

/*----------------------------------- CARD DE CADA PERRO PERDIDO-------------------------------------------*/

.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    margin-right: 2%;
    margin-left: 2.5%; 
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 1%; 
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
}

.foto_perdidos {
    border-radius: 0.6em 0.6em 0 0;
    height: 150px;
}

.container {
    padding: 0.1em 1.2em;
}

@media screen and (max-width: 822px) and (min-width: 700px) {
    .dosOpciones{
        margin-left: 18%;
    }
    .dosOpciones a {
        width: 40%;
    }
}  



@media screen and (max-width: 1279px) and (min-width: 823px) {
    .dosOpciones{
        margin-left: 28%;
    }
    .dosOpciones a {
        width: 50%;
    }
}  
