/*----------------------------------- BOTONERA VERDE Y ROJA -------------------------------------------*/
.dosOpciones {
    margin-left: 33%;
}

.dosOpciones a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 2em;
    text-decoration: none;
    font-size: 1.1em;
    width: 25%;
    box-sizing: border-box; 
    margin-top: 1em;
}

#verde {
    background-color: #007E33;
}

#rojo {
    background-color: #CC0000;
}

#verde:hover {
    background-color: #00C851;
}

#rojo:hover {
    background-color: #ff4444;
}

/*----------------------------------- CARD DE CADA PERRO PERDIDO-------------------------------------------*/

#lista_perdidos {
    text-align: center;
}

.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    margin-right: 2%;
    margin-left: 2.5%; 
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 1%; 
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
}

.foto_perdidos {
    border-radius: 0.6em 0.6em 0 0;
    height: 150px;
    /*min-height: 150px;*/
    /*min-width: 150px;*/
}

.container {
    padding: 0.1em 1.2em;
}

@media screen and (max-width: 1600px) and (min-width: 900px) {
    .dosOpciones {
        margin-left: 33%;
    }
    .dosOpciones a {
        width: 50%;
    }
}  


@media screen and (max-width: 899px) and (min-width: 700px) {
    .dosOpciones {
        margin: 0 auto;
        width: 80%;
    }
    .dosOpciones a {
        margin: 0 auto;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 0.6em 2em;
        text-decoration: none;
        font-size: 1.1em;
        box-sizing: border-box; 
        margin-top: 1em;
    }
}  

@media screen and (max-width: 550px) {
    .dosOpciones {
        margin: 0 auto;
        width: 90%;
    }
    .dosOpciones a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 0.2em 1em;
        text-decoration: none;
        font-size: 1em;
        box-sizing: border-box; 
        margin-top: 0.2em;
    }
    .card {
        margin: 0 auto;
        box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        width: 80%;
        border-radius: 10%;
        background-color: white;
        text-align: center;
        padding-bottom: 0.2%; 
        display: block;
    }
}