.articulo_perdidos{
	width: 40%;
	margin: auto;
	padding-left: 2%;
	padding-right: 2%;
	cursor: pointer;
	margin-bottom: 2%;
}

.header_perdidos{
	text-align: center;
}

.perdido {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.perdido:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container_info {
    background-color: #E5E7E9;
    padding: 0.1%;
    text-align: center;
}



