/*----------------------------------- BOTONERA VERDE Y ROJA -------------------------------------------*/
.dosOpciones {
    margin-left: 33%;
}

.dosOpciones a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 2em;
    text-decoration: none;
    font-size: 1.1em;
    width: 25%;
    box-sizing: border-box; 
    margin-top: 1em;
}

#rojo {
    background-color: #CC0000;
    border-radius: 5%;
    box-shadow: 3px 3px 6px #999;
}

#rojo:hover {
    background-color: #ff4444;
}

h2 {
    text-align: center;
    margin: 1em auto;
    padding: 0.5em;
    background-color: #333;
    margin-top: 0;
    color: white;
}

/*----------------------------------- CARD DE CADA PERRO PERDIDO-------------------------------------------*/

#lista_perdidos {
    text-align: center;
}

.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    margin-right: 2%;
    margin-left: 2.5%; 
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 1%; 
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
}

.foto_perdidos {
    border-radius: 0.6em 0.6em 0 0;
    height: 150px;
    /*min-height: 150px;*/
    /*min-width: 150px;*/
}

.container {
    padding: 0.1em 1.2em;
}

@media screen and (max-width: 1600px) and (min-width: 900px) {
    .dosOpciones {
        margin-left: 33%;
    }
    .dosOpciones a {
        width: 50%;
    }
}  


@media screen and (max-width: 899px) and (min-width: 700px) {
   .dosOpciones {
        margin-left: 25%;
    }
    .dosOpciones a {
        width: 70%;
    }
     .card {
        margin: 0 auto;
        box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        width: 25%;
        border-radius: 10%;
        background-color: white;
        text-align: center;
        padding-bottom: 0.5%; 
        margin-top: 1%;
        display: block;
    }
}  

@media screen and (max-width: 699px) and (min-width: 500px) {
    .dosOpciones {
        margin-left: 25%;
    }
    .dosOpciones a {
        width: 70%;
    }
    .card {
        margin: 0 auto;
        box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        width: 50%;
        border-radius: 10%;
        background-color: white;
        text-align: center;
        padding-bottom: 0.5%; 
        margin-top: 1%;
        display: block;
    }
}

@media screen and (max-width: 499px) and (min-width: 401px) {
     .dosOpciones {
        margin-left: 25%;
    }
    .dosOpciones a {
        width: 70%;
    }
    .card {
        margin: 0 auto;
        box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        width: 70%;
        border-radius: 10%;
        background-color: white;
        text-align: center;
        padding-bottom: 0.5%; 
        margin-top: 1%;
        display: block;
    }
}



@media screen and (max-width: 400px) and (min-width: 300px) {
     .dosOpciones {
        margin-left: 25%;
    }
    .dosOpciones a {
        width: 70%;
    }
    .card {
        margin: 0 auto;
        box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        width: 90%;
        border-radius: 10%;
        background-color: white;
        text-align: center;
        padding-bottom: 0.5%; 
        margin-top: 1%;
        display: block;
    }
}
