.opcionAlta {
    margin-left: 40%;
}

.opcionAlta a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 2em;
    text-decoration: none;
    font-size: 1.1em;
    width: 30%;
    box-sizing: border-box; 
    margin-top: 1em;
}

#altaPerro {
    background-color: #007E33;
}

#altaPerro {
    background-color: #CC0000;
}


input[type=radio]{
    display: inline-block;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
    margin-right: 2%;
}

fieldset{
    width: 97%;
    display: block;
}

.botones {
    text-align: center;
}

.consultar {
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.2em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.container {
    padding: 1.4em;
}

.formulario_filtrado {
    background-color: rgba(251,251,251,0.8);
    margin: 3% auto 0.5em auto;
    border: 0.1em solid #888;
    width: 70%;
}

h3{
    text-align: center;
}