.opcionAlta {
    margin-left: 40%;
}

.opcionAlta a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 2em;
    text-decoration: none;
    font-size: 1.1em;
    width: 30%;
    box-sizing: border-box; 
    margin-top: 1em;
}

#altaPerro {
    background-color: #007E33;
}

#altaPerro {
    background-color: #CC0000;
}


input[type=checkbox]{
    display: inline-block;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
    margin-right: 2%;
}

fieldset{
    width: 97%;
    display: block;
}

.botones {
    text-align: center;
}

.consultar {
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.2em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.container {
    padding: 1.4em;
}

.formulario_filtrado {
    background-color: rgba(251,251,251,0.8);
    margin: 3% auto 0.5em auto;
    border: 0.1em solid #888;
    width: 70%;
}

h3, h2{
    text-align: center;
}

/*------------------------------------card filtros--------------*/
#lista_perdidos {
    text-align: center;
}

.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    margin-right: 2%;
    margin-left: 2.5%; 
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 1%; 
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
}

.foto_perros {
    border-radius: 0.6em 0.6em 0 0;
    height: 150px;
    /*min-height: 150px;*/
    /*min-width: 150px;*/
}

.container {
    padding: 0.1em 1.2em;
}






