
/*------------------------------------------------------------------------------------------------------------*/
ul {
    padding: 0;
    margin: 0.5em auto;
}

li {
    list-style: none;
    display: inline-block;
}

.container {
    width: 90%;
    margin: 0.2em auto;
    background-color: #fff;
    box-shadow: 0 0.3em 0.5em 0 rgba(0, 0, 0, 0.2);
    padding: 0.2em;
}

#info-perro {
    display: inline-block;
}

#imagen {
    width: 48%;
    display: inline-block;
}

#informacion {
    width: 51%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
}

.atributo {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em 1.2em;
    width: 100%;
}

strong {
    font-weight: bold;
    font-size: 1.1em;
}

.danger {
    background-color: #ffdddd;
    border-left: 0.5em solid #f44336;
}

.success {
    background-color: #ddffdd;
    border-left: 0.5em solid #4CAF50;
}

.info {
    background-color: #e7f3fe;
    border-left: 0.5em solid #2196F3;
}


.warning {
    background-color: #ffffcc;
    border-left: 0.5em solid #ffeb3b;
}

#opciones {
    text-align: center;
}

input[type=button],
input[type=reset] {
    color: white;
    padding: 1em 0.2em;
    margin: 0.8em 0;
    border: none;
    cursor: pointer;
    margin-top: 0.5em 1em;
    width: 20%;
    text-align: center;
    font-weight: bold;
    margin-right: 8%;
    box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.3);
}

input[type=button] {
    background-color: #4CAF50;
}

input[type=reset] {
    background-color: #f44336;
}

input[type=button]:hover,
input[type=reset]:hover {
    opacity: 0.9;
}

h4 {
    margin: 0.5em 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

table {
    margin: 0.5em auto;
    text-align: center;
}

th {
    background-color: #e74c3c;
    color: white;
    padding: 0.5em 0.8em;
}

td {
    background-color: #ecf0f1;
    padding: 0.5em 0.8em;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {

    .container {
        width: 95%;
    }

    #info-perro {
        display: block;
    }

    #imagen {
        width: 100%;
        display: block;
    }

    #informacion {
        width: 100%;
        display: block;
        margin-top: 0.5em;
    }

    .atributo {
        padding: 0.5em 1.2em;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    th, td {
        padding: 0.2em 0.3em;
    }
}

@media screen and (max-width: 500px) {
    th {
        padding: 0.1em 0.2em;
    }
}