.opcionAlta {
    margin-left: 40%;
}


.opcionAlta a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 2em;
    text-decoration: none;
    font-size: 1.1em;
    width: 30%;
    box-sizing: border-box; 
    margin-top: 1em;
    border-radius: 5%;
    box-shadow: 3px 3px 6px #999;
}

#altaPerro {
    background-color: #CC0000;
}


input[type=checkbox]{
    display: inline-block;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
    margin-right: 4%;
}

input[type=button]{
    border-radius: 5%;
    box-shadow: 3px 3px 6px #999;
}

fieldset{
    width: 97%;
    display: block;
    border-bottom: solid 1px;
    padding-bottom: 1%;
    margin-top: 1%;
}

.botones {
    text-align: center;
}

.consultar {
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.2em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.container {
    padding: 1.4em;
}

.formulario_filtrado {
    background-color: rgba(251,251,251,0.8);
    margin: 3% auto 0.5em auto;
    border: 0.1em solid #888;
    width: 70%;
}

h3, h2{
    text-align: center;
}

/*------------------------------------card filtros--------------*/
#lista_perdidos {
    text-align: center;
}

.card {
    box-shadow: 0 0.4em 0.8em 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    margin-right: 2%;
    margin-left: 2.5%; 
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 1%; 
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
}

.foto_perros {
    border-radius: 0.6em 0.6em 0 0;
    height: 150px;
    /*min-height: 150px;*/
    /*min-width: 150px;*/
}

.container {
    padding: 0.1em 1.2em;
}

#mostrarMas{
    margin-top: 1%;
    padding: 0.5em 3em;
    background-color: #95a5a6;
    color: white;
}

/*----------------------------responsivo-------------------------------------------------*/
@media (max-width: 500px) and (min-width: 200px) {
    #tamanio input[type=checkbox] {
        display: block;
        margin-top: 0.5%;
    }
}


@media (max-width: 1079px) and (min-width: 200px) {
    #edad input[type=checkbox] {
        display: block;
        margin-top: 0.5%;
    }
 }


 @media (max-width: 791px) and (min-width: 200px) {
    .opcionAlta a {
        width: 60%;
        padding: 0.6em 0.5em;
    }
    .opcionAlta{
        margin-left: 25%;
    }
 }

 @media (max-width: 400px) and (min-width: 200px) {
    .foto_perros {
        height: 100px;
    }
    .card{
        width: 60%;
    }
 }

@media (max-width: 550px) and (min-width: 401px) {
    .foto_perros {
        height: 120px;
    }
    .card{
        width: 65%;
    }
 }


 @media (max-width: 650px) and (min-width: 551px) {
    .foto_perros {
        height: 90px;
    }
 }

  @media (max-width: 800px) and (min-width: 651px) {
    .foto_perros {
        height: 120px;
    }
 }





