label {
    display: block;
    margin: 0.2em 0.5em;
}

input[type=text],
select,
input[type=date], 
input[type=password],
input[type=email],
input[type=date] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    box-sizing: border-box;
    margin: 0.5em 0.5em 0.5em 0;
}

input[type=text]:focus,
select:focus,
input[type=date]:focus, 
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus {
    border: 0.2em solid #3498db;
}

h2 {
    text-align: center;
}

input[type=button],
input[type=reset] {
    color: white;
    padding: 1em 0.2em;
    margin: 0.8em 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-top: 0.5em 1em;
    box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.3);
}

input[type=button] {
    background-color: #4CAF50;
}

input[type=reset] {
    background-color: #f44336;
    float: right;
}

strong {
    font-size: 1em;
}

.container {
    padding: 1.4em;
}

.formulario_registro {
    background-color: rgba(251, 251, 251, 0.8);
    margin: 1em auto 0.5em auto;
    width: 70%;
    border: 0.1em solid #ecf0f1;
    box-shadow: 0 0.3em 0.5em 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    .registro {
       width: 100%;
    }
    .formulario_registro {
        width: 95%;
    }
}