.btn-sesion{
	background-color: #5499C7;
    color: white;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
    border-style: groove ;
    cursor: pointer;
}

.sesiones{
	position: absolute;
	left: 90%;
	top: 8%;
}

#nombreSesion{
	position: absolute;
	left: 80%;
	top: 8%;
}

@media screen and (max-width: 400px) {
    #nombreSesion {
       	position: absolute;
		left: 45%;
		top: 8%;
    }
    .sesiones{
		position: absolute;
		left: 70%;
		top: 8%;
	}
}

@media screen and (max-width: 700px) and (min-width: 401px) {
    #nombreSesion {
       	position: absolute;
		left: 57%;
		top: 8%;
    }
    .sesiones{
		position: absolute;
		left: 78%;
		top: 8%;
	}
}

@media screen and (max-width: 1200px) and (min-width: 701px) {
    #nombreSesion {
       	position: absolute;
		left: 65%;
		top: 8%;
    }
    .sesiones{
		position: absolute;
		left: 82%;
		top: 8%;
	}
}