body {
	background-color: #EAF2F8 ;
}

.btn-sesion-registro {
  background-color: #5499C7;
  color: white;
  border-style: groove ;
  padding: 0.5em 1.5em;
  background-color: #27ae60;
  cursor: pointer;
  /*border: none;*/
  margin: 0.5em 1em;
  border-radius: 5%;

}

.form-sesion-registro {
	position: absolute;
	left: 90%;
	top: 8%;
}

#nombreSesion {
	position: absolute;
	left: 80%;
	top: 8%;
}

@media screen and (max-width: 400px) {
    #nombreSesion {
       	position: absolute;
		left: 45%;
		top: 8%;
    }
    .form-sesion-registro {
		position: absolute;
		left: 70%;
		top: 8%;
	}
}

@media screen and (max-width: 700px) and (min-width: 401px) {
    #nombreSesion {
       	position: absolute;
		left: 57%;
		top: 8%;
    }
    .form-sesion-registro {
		position: absolute;
		left: 78%;
		top: 8%;
	}
}

@media screen and (max-width: 1200px) and (min-width: 701px) {
    #nombreSesion {
       	position: absolute;
		left: 65%;
		top: 8%;
    }
    .form-sesion-registro {
		position: absolute;
		left: 82%;
		top: 8%;
	}
}



/*----------------------------------------------------------------------CARRUSEL---------------------------------------------------*/
.carrusel{
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 65%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*-------------------------------------------------------------------------DESCRIPCION------------------------------------------------------*/
.descripcion p{
	text-align: center;
	font-size: 1.5em;
}
